# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Sudoku.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Projects\Unity\Sudoku\.idea\.idea.Sudoku\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
